{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Сантехника в Крыму</title>

</head>
<body>

    {% include './includes_css.html' %}
    {% include './includes_js.html' %}

    {% block main_header %}
    <div class="main__header__block__wrapper">

    <div id="scroll_to_top"></div>

    <div class="main__header__block">
        {% include './header.html' %}
    </div>
    {% endblock main_header %}

    </div>

    <div class="main__site__wrapper__main">


        <div class="main__site__wrapper">
            {% block content %}

            {% endblock content %}
            {% include './footer.html' %}
        </div>

    </div>

    {% include './blocks/scroll_to_top.html' %}


    <div class="header__results">
        {% include './blocks/search_results.html' %}
    </div>

    <script>


var sticky = new Waypoint.Sticky({
    element: $('.main__header__second'), // Add in your CSS selector sticky target
    // direction: 'down right',
  })



function update_fav_total_ajax() {
    $.ajax({
        url: "{% url 'cart:update_fav_total_ajax' %}",
        data: {
            'someinfo': 'someinfo',
        },
        success: function(data) {
            var total = data['fav_total']
            $(".count__label__heart").html(total)
        },
    })
}

function updateCartTotal() {
  $.ajax({
    url: "{% url 'cart:update_cart_total_ajax' %}",
    data: {
      'someinfo': 'someinfo',
    },
    success: function(data) {
      var total = data['cart_total']
        $(".count__label").html(total)
    }
  })
}

        $("body").on( 'click', ".product__addtocart__global", function() {
            addProductToCart(this)
            // ajax ends here
        });
        
        function changeButtonCart(in_cart, item) {
            if (in_cart == 'yes') {
                console.log(item.children())
                item.html("<span class='in__cart__buttonstyle'> Удалить с корзины </span>")
            } else {
                item.html("<span class='not__incart__buttonstyle'>В корзину</span>")
            }
        }

        function addProductToCart(product_block) {
            current_item = $(product_block)
            var current_pr_id = $(product_block).attr("value")
            // ajax start here
            $.ajax({
                url: "{% url 'cart:add_item_ajax' %}",
                data: {
                    'product_id': current_pr_id,
                },
                success: function(data) {
                    var in_cart = data['in_cart']
                        changeButtonCart(in_cart, current_item)
                        updateCartTotal()
                }
            });
        }
        function addProductToCart2(product_block) {
            current_item = $(product_block)
            var current_pr_id = $(product_block).attr("value")
            // ajax start here
            $.ajax({
                url: "{% url 'cart:add_item_ajax' %}",
                data: {
                    'product_id': current_pr_id,
                },
                success: function(data) {
                    var in_cart = data['in_cart']
                    var quantity = data['quantity']
                    updateCartTotal()
                        // changeButtonCart(in_cart, current_item)
                }
            });
        }
        function favAddDelete(item, pr_id) {
            $.ajax({
                url: "{% url 'cart:favorite_add_or_delete_ajax' %}",
                data: {
                    'product_id': pr_id,
                },
                success: function(data) {
                    console.log(data)
                    var exist = data['exist']
                    if (exist == 'added') {
                        $(item).addClass("red")
                        $(item).removeClass("white")
                    } else {
                        $(item).removeClass("red")
                        $(item).addClass("white")
                    }
                    update_fav_total_ajax()
                }
            })
        }

        $("body").on( 'click', ".add_delete_favorite", function() {
            var pr_id = $(this).attr("value")
            console.log('it is ok dude')
            favAddDelete(this, pr_id)
        })

        // $(".filter__content__large").selectize({

        // });

        $('body').on('click', '#scroll_top_link', function() {
            $([document.documentElement, document.body]).animate({
        scrollTop: $("#scroll_to_top").offset().top
    }, 1200);
        })


    $(document).mouseup(function(e) {
    var container = $(".header__results");

    // if the target of the click isn't the container nor a descendant of the container
    if (!container.is(e.target) && container.has(e.target).length === 0) 
    {
        closeSearchResults()

    }
});

    $('.input_search').on('click', function() {
        if ($('.search__result__item').length > 0) {
            showSearchResults()
        }  
    })
    $("input[name=search_input]").on( 'keyup', function() {
        var s_query = $(this).val()
        $('.input_search').attr("value", s_query) 
        console.log('handled updated')
        console.log(s_query)
        $.ajax({
            url: "{% url 'products:search_form' %}",
            data: {
                's_query': s_query,
            }, success(data) {
                showSearchResults()
                var d = data
                $(".header__results").html('')
                $(".header__results").html(d)
            }   
        })
    })

    $("body").on('click', ".search__results__button__link", function() {
        var s_query = $('.input_search').val()
        var v = '/' + s_query
        window.location = "{% url 'products:search' search_query=123 %}".replace('/123', v)
    })

    $(".header__second__search__form").on("submit", function(e) {
        e.preventDefault();
        var s_query = $('.input_search').val()
        var v = '/' + s_query
        window.location = "{% url 'products:search' search_query=123 %}".replace('/123', v)
    })


    function showSearchResults() {
        $(".header__results").addClass("show")
    }
    function closeSearchResults() {
        $(".header__results").removeClass("show")
    }


    </script>

</body>
</html>