{% extends './base.html' %}
{% load static %}

{% block content %}

<div class="contacts__wrapper">
    <div class="nice__title2__left">
        Доставка 
    </div>

    <div class="nice__text">
      При заказе в нашем магазине товаров на сумму 10000 рублей и более - мы доставим ваш
      заказ по г. Симферополь бесплатно!
    </div>

    <div class="delivery__info">
        <p>
        Доставка транспортом магазина осуществляется в следующие поселки
        и города Крыма: </p>
        Алупка, Алушта, Арабатская стрелка, Балаклава, Бахчисарай, Белогорск, Береговое, Бухта Ласпи, Гаспра, Гурзуф, Джанкой, Евпатория, Заозерное, Казантип, Каменское, Кача, Керчь, Коктебель, Кореиз - Мисхор, Красноперекопск, Ливадия, Морское, Николаевка, Новофедоровка, Новый Свет, Орджоникидзе, Партенит, Песчаное, Поповка - Мирный, Приморский, Саки, Севастополь, Симеиз, Симферополь, Солнечногорское, Старый Крым, Судак, Утес, Учкуевка, Феодосия, Форос, Штормовое, Щелкино, Ялта.
    </div>

    <div class="nice__title__center2">
        Зона доставки
    </div>
    {% comment %} <div id="map_delivery_block">
        <div id="map2" style="width: 100%; height: 400px">
        </div>
    </div> {% endcomment %}
    <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Af9530fb24aa351c284b1380570163ef78e7363fdc700b093d62d4e8ba70a4056&amp;source=constructor" width="100%" height="481" frameborder="0"></iframe>


</div>

{% endblock content %}