<div class="footer__wrapper">
    <div class="footer__container">
        <div class="footer__block">
            <div class="footer__block__title">
                Меню
            </div>
            <div class="footer__block__item">
                <a class="footer__block__item__link" 
                href="{% url 'products:index' %}">
                    Главная
                </a>
            </div>
            <div class="footer__block__item">
                <a class="footer__block__item__link"
                href="{% url 'products:index' %}#categories_anchor">
                    Каталог
                </a>
            </div>
            <div class="footer__block__item">
                <a class="footer__block__item__link"
                href="{% url 'products:contacts' %}">
                    Контакты
                </a>
            </div>
            <div class="footer__block__item">
                <a class="footer__block__item__link"
                href="{% url 'products:delivery' %}">
                    Доставка
                </a>
            </div>
            <div class="footer__block__item">
                <a class="footer__block__item__link"
                href="{% url 'products:payment' %}">
                    Оплата
                </a>
            </div>
        </div>
        <div class="footer__block">
            <div class="footer__block__title">
                Контакты
            </div>
            <div class="footer__block__item">
                г. Симферополь, ул. Генерала Васильева 32Г
            </div>
            <div class="footer__block__item">
                <a class="footer__block__item__tel"
                href="tel:+79782215509">
                    +7(978) 221-55-09
                </a>
            </div>
            <div class="footer__block__item">
                Пн-пт 9:00-18:00, Сб-Вс 10:00-17:00
            </div>
        </div>
    </div>
</div>