{% include './blocks/h_first.html' %}



<div class="main__header__second__mobile__logo">
    <a class="header__second__logo mobile__logo"
    href="{% url 'products:index' %}">
        <img src="https://placehold.it/250x100" alt="">
    </a>
    <div class="header__second__search">
        <form
        class="header__second__search__form">
            {% csrf_token %}
            <input type="text" class="input_search"
            name="search_input"
            placeholder="Искать">
            <button class="input_submit">
                <i class="gg-search"></i>
            </button>
        </form>
    </div>
</div>

<div class="main__header__second">
    <a class="header__second__logo logo__big"
    href="{% url 'products:index' %}">
        <img src="https://placehold.it/250x100" alt="">
    </a>
    <div class="header__second__catalog">
        <div class="header__second__catalog__items">
        <i class="gg-menu-grid-o catalog_open"></i>
        <i class="gg-close catalog_close"></i>
        <span>
        Каталог
        </span>
        </div>
    </div>
    <div class="header__second__catalog__mobile"
    id="menu__link">
        <div class="header__second__catalog__mobile__items">
            <i class="gg-menu-left-alt"></i>
            <span>
                Меню
            </span>
        </div>
    </div>

    <div class="header__second__search search__big">
        <form
        class="header__second__search__form">
            {% csrf_token %}
            <input type="text" class="input_search"
            name="search_input"
            placeholder="Искать">
            <button class="input_submit">
                <i class="gg-search"></i>
            </button>
        </form>
    </div>
    <div class="header__second__icons">
        <a class="header__second__icons__item
        header__favorite"
        href="{% url 'cart:favorite' %}">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" class="c6j1" data-v-414055a2=""><path fill="currentColor" d="M21 8.5C21 5.805 19.621 4 17.282 4 14.969 4 13 5.743 13 8h-2c0-2.257-1.97-4-4.282-4C4.378 4 3 5.805 3 8.5c0 2.93 2.398 6.212 9 11.246 6.602-5.035 9-8.317 9-11.246zM17.282 2c3.58 0 5.717 2.8 5.718 6.5 0 3.816-2.885 7.664-10.4 13.3l-.6.45-.6-.45C3.886 16.164 1 12.317 1 8.5 1 4.8 3.139 2 6.718 2 8.884 2 10.864 3.069 12 4.742 13.136 3.069 15.115 2 17.282 2z" data-v-414055a2=""></path></svg>
            <div class="cart__count__info">
                <span class="count__label__heart">
                    {{ fav_main.get_items }}
                </span>
            </div>
        </a>
        <a class="header__second__icons__item
        header__cart"
        href="{% url 'cart:index' %}">
            <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" class="c6h2" data-v-414055a2=""><g fill="none" fill-rule="evenodd" data-v-414055a2=""><path d="M0 0h24v24H0z" data-v-414055a2=""></path><path d="M6 6a4 4 0 014-4h4a4 4 0 014 4v2h5.133L21.82 18.496A4 4 0 0117.85 22H6.149a4 4 0 01-3.969-3.504L.867 8H6V6zm6 2a1 1 0 010 2H3.133l1.03 8.248A2 2 0 006.149 20h11.704a2 2 0 001.984-1.752L20.867 10H16V6a2 2 0 00-2-2h-4a2 2 0 00-2 2v2h4z" fill="currentColor" fill-rule="nonzero" data-v-414055a2=""></path></g></svg>
            <div class="cart__count__info">
                <span class="count__label">
                    {{ cart.items_in_cart }}
                </span>
            </div>
        </a>
        <a class="header__second__icons__item account__big">
            <svg height="24" viewBox="0 0 20 20" width="24"><path d="M16.984 14.506V17H3.016v-2.494C4.47 11.794 6.797 10.438 10 10.438s5.531 1.356 6.984 4.068zM10 11.938c-2.528 0-4.295.958-5.484 2.961v.6h10.968v-.6c-1.19-2.003-2.956-2.961-5.484-2.961zm3.686-6.384a3.686 3.686 0 11-7.372 0 3.686 3.686 0 017.372 0zm-1.5 0a2.186 2.186 0 10-4.372 0 2.186 2.186 0 004.372 0z"></path></svg>
        </a>
    </div>
</div>


    {% include './blocks/mobile__menu__container.html' %}
    {% include './blocks/menu__container.html' %}

<script>
    $(".header__second__catalog").click(function() {
        $(".catalog_open").toggleClass("hide")
        $(".catalog_close").toggleClass("show")
        $(".header__second__catalog").toggleClass("opened")
        $(".header__second__catalog__items").toggleClass("opened")
    })
</script>