{% load static %}

<link rel="stylesheet" href="{% static 'plugins/magnific-popup.css' %}">
<link href='https://css.gg/css' rel='stylesheet'>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'slick/slick.css'%}">
    <link rel="stylesheet" href="{% static 'slick/slick-theme.css'%}">
    <link rel="stylesheet" href="{% static 'js/owlcarousel/owl.carousel.css'%}">
    <link rel="stylesheet" href="{% static 'js/owlcarousel/owl.theme.default.css'%}">

    <link rel="stylesheet" href="{% static 'plugins/selectize/selectize.bootstrap4.css'%}">
    