{% extends './base.html' %}
{% load static %}

{% block content %}

<div class="contacts__wrapper">
    <div class="nice__title2__left">
        Оплата
    </div>

    <div class="payment__title">
        Наличный расчет
    </div>
    <div class="payment__info">
    Оплата производится только в рублях при получении товара. Курьер обязан вручить покупателю товарный чек/счет на оплату на сумму покупки и гарантийный талон с отметкой о дате покупки.
    </div>
    <div class="payment__title">
        Безналичный расчет
    </div>
    <div class="payment__info">
    Для получения счета на оплату обращайтесь к менеджерам интернет магазина. Оплату товара по безналичному расчету может осуществить любое физическое и юридическое лицо. После подтверждения заказа на электронную почту будет выслан счет. Доступно для граждан РФ. Если Вам необходимо приобрести продукцию с НДС или заключить договор поставки, обязательно проинформируйте об этом менеджера.
    </div>

</div>

{% endblock content %}