.page__main__slider__wrapper {
  max-height: calc(250px + 17vw);
  position: relative;
}

.page__main__slider {
  max-height: calc(250px + 17vw);
  height: 100%;
}
.page__main__slider__img {
  max-width: 100%;
  max-height: 100%;
}
.page__main__slider__img img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
}
@media (max-width: 731px) {
  .page__main__slider__img img {
    object-fit: contain;
  }
}

.prev {
  left: 15px;
  top: 50%;
}

.next {
  right: 15px;
  top: 50%;
}

.main_slider_arrow {
  cursor: pointer;
  position: absolute;
  color: white;
  background-color: #005bff;
  border-radius: 45px;
  padding: 4px;
  transform: scale(1.3);
}