@import './vars.scss';


.products__list__wrapper {
    /* border: 2px solid green; */
    /* display: flex; */
    /* flex-wrap: wrap; */
    display: grid;
    /* display: flex; */
    margin: 0 10;
    grid-template-columns: repeat(auto-fit, minmax(14rem, 2fr));
    grid-gap: 5px;
    align-content: center;
    justify-items: center;
    align-items: center;
    justify-content: center;
}