

@import './css/fonts.scss';
@import './css/vars.scss';
@import './css/header.scss';
@import './css/product_card.scss';
@import './css/main_slider.scss';
@import './css/products_list.scss';
@import './css/products_slider.scss';
@import './css/popup_form.scss';
@import './css/banner1.scss';
@import './css/product_page.scss';
@import './css/svg_fire.scss';
@import './css/favorite.scss';
@import './css/cart_main.scss';
@import './css/offer_page.scss';
@import './css/order_created.scss';
@import './css/categories.scss';
@import './css/category.scss';
@import './css/popup_menu.scss';

.nice__title2__left {
    text-align: left;
    font-size: 30px;
    text-size-adjust: 100%;
    font-family: $main-medium;
}
.nice__title__center {
    text-align: center;
    font-size: 24px;
    font-family: $main-medium;
}
.title_medium_grey { 
    padding: 30 0;
    text-align: center;
    font-size: 19px;
    color: $nice-grey;
}

.space__20 {
    visibility: hidden;
    /* display: none; */
    margin: 20 0;
}
.space__10 {
    visibility: hidden;
    margin: 10 0;
}

.main__header__block__wrapper {
    width: 100%;
    background-color: white;
}

.main__site__wrapper__main.bg1 {
    background-color: $bg-nice;
}

.main__site__wrapper {
    margin: 30px auto;
    position: relative;
    display: block;
    max-width: 1400px;
}

.in__cart__buttonstyle {
    background-color: rgb(240,241,243)!important;
    color: $main-color!important;
    font-family: $main-medium;
}

.owl__nav {
    position: absolute;
    top: 50%;
    &__left {
        left: 0;
    }
    &__right {
        right: 0;
    }
    i {
        transform: scale(1.3);
        color: $main-color;
    }
    &:hover {
        background-color: white;
    }
}

.product__not__in__cart.hide {
    display: none;
}
.product__in__cart {
    visibility: hidden;
    position: absolute;
}
.product__in__cart.show {
    position: relative;
    visibility: visible;
}



.add_delete_favorite.red {
    color: red;
    transition: all 0.3s;
    &:hover {
        transform: scale(1.2);
    }
}
.add_delete_favorite.white {
    color: blue;
    transition: all 0.3s;
    &:hover {
        transform: scale(1.2);
    }
}

.empty__cart__container {
    display: none;
}
.empty__cart__container.show {
    display: block;
}

.cart__main.hide {
    display: none;
}

.products__margin__center {
    display: flex;
    align-self: center;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
}

.endless_container {
    margin: 20 0;
    a {
        color: white;
        background-color: $nice-green;
        text-decoration: none;
        padding: 10 50;
        border-radius: 5px;
    } 
}

.scroll_top {
    visibility: hidden;
    position: fixed;
    bottom: 50;
    right: 50;
    z-index: 999999999999;
    @media (max-width: 710px) {
        right: 10;
    }
    i {
        cursor: pointer;
        padding: 14;
        background-color: $main-color;
        border-radius: 5px;
        color: white;
        font-size: 20px;
        &:hover {
            background-color: $main-color-hover;
        }
    }
    @media (max-width: 540px) {
        i {
            font-size: 14px;
            padding: 10;
            bottom: 35;
        }
    }
}
.scroll_top.show {
    visibility: visible;
}

.main__header__second.stuck {
    z-index: 99999999999;
    background-color: white;
    margin: 0px auto;
    display: flex;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    height: 70px;
    min-height: 50px;
    box-shadow: 0px 10px 21px -17px rgba(0,0,0,0.75);
    .header__second__logo {
        img {
            height: 60px;
        }
    }
}

.active_filters_list {
    display: flex;
}
.active_filter_item {
    cursor: pointer;
    margin: 2 7;
    color: white;
    transition: all 0.3s;
    span {
        font-family: $main-font-light;
    }
    
}

.active_filter_item_link {
    border-radius: 5px;
    padding: 5 5;
    background-color: $main-color;
    &:hover {
        background-color: $main-color-hover;
    }
}


body {
    // margin: 0px;
    //  background-color: $bg-nice;
    font-family: 'gpro-text-regular';
}
body.hidden {
    overflow: hidden;
}

// subheader here

.header__results {
    display: none;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    position: fixed;
    max-width: 1000px;
    top: 100;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    height: 70%;
    z-index: 99999999;
    overflow-y: scroll;
}
.header__results.show {
    display: block;
}

.search__results {
    position: relative;
    margin: 10 20;
    // overflow-y: scroll;
}

.search__result__item {
    text-decoration: none;
    color: black;
    margin: 10 0;
    display: flex;
    &:hover {
        border: 2px solid $main-color;
        cursor: pointer;
    }
    // flex-wrap: wrap;
    img {
        max-height: 80px;
        object-fit: contain;
    }
    &__info {
        margin: 0 15;
        display: flex;
        flex-direction: column;
    }
    &__name {
        font-family: $main-font-light;
        font-size: 16px;
    }
    &__price {
        margin: 10 0 0 0;
        font-size: 16px;
    }
}
.search__results__button {
    text-align: center;
    padding: 20 0 20 0;
    span {
        cursor: pointer;
        text-decoration: none;
        color: white;
        background-color: $main-color;
        border-radius: 5px;
        padding: 9 20;
    }
}
.goods_found {
    font-family: $main-font-light;
    span {
        font-family: $main-font;
        color: white;
        background-color: $nice-green;
        padding: 4px;
        border-radius: 5px;
    }
}




// countdown styles
.countdown__button {
    padding: 60 0 60 0;
    text-align: center; 
    a {
        text-decoration: none;
        font-family: 'main_bold';
        padding: 15 50;
        background-color: $main-color;
        color: white;
        cursor: pointer;
        border-radius: 5px;
    }
}
.countdown__header {
    text-align: center;
    padding: 40 0;
    color: white;
    font-size: calc(35px + 1vw);
    font-family: 'main_bold';
}
.count__wrapper {
    background-color: $sale-price;
    height: calc(400px +1vh);
}
#count__container {
    margin: 0px auto;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.simply-section {
    width: 100%;
}
.simply-section div {
    background-color: white;
    color: black;
    // width: 25%;
    padding: 30 0;
    margin: 0 5;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.simply-amount {
    font-size: 40px;
    font-family: 'main_ebold';
}



// footer code is here
.footer__wrapper {
    padding: 30 0;
    background-color: $bg-nice2;
}
.footer__container {
    // align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    display: flex;
    flex-wrap: wrap;
}
.footer__block {
    width: 25%;
    margin: 0 30;
    &__title {
        font-size: calc(17px + 0.1vw);
        margin: 5 0;
        font-family: 'main_bold';
        // color: $main-color;
    }
    &__item {
        font-size: 16px;
        margin: 5 0;
        &__link {
            text-decoration: none;
            color: black;
            // font-family: 'main_medium';
        }
        &__tel {
            text-decoration: none;
            color: $main-color;
        }
    }
    @media (max-width: 500px) {
        width: 90%;
        text-align: center;
        margin: 10 5;
    }
}


// contacts page here
.contacts__wrapper {
    margin: calc(40px + 2vw) 0;
}