{% load static %}

<div class="page__main__slider__wrapper">

    <div class="page__main__slider">
        <div class="page__main__slider__img">
            <img src="https://placehold.it/2000x2000" alt="">
        </div>
        <div class="page__main__slider__img">
            <img src="https://placehold.it/2000x2000" alt="">
        </div>
        <div class="page__main__slider__img">
            <img src="https://placehold.it/2000x2000" alt="">
        </div>
    </div>

    <span class="prev main_slider_arrow"
    id="prev_main">
        <i class="gg-chevron-left"></i>
    </span>
    <span class="next main_slider_arrow"
    id="next_main">
        <i class="gg-chevron-right"></i>
    </span>

</div>
