<div class="pform__wrap">
    <div class="pform__container">
        <div class="pform__container__title">
            бесплатный рассчет стоимости!
        </div>
        <div class="pform__container__subtitle">
            Оставьте заявку, и наш менеджер свяжется с вами.
        </div>
        
        <div class="pform__container__form">
            <input type="text"
            name="name" id="input_name"
            class="contact__input"
            placeholder="Ваше имя"
            autocomplete="off">
            <input type="text"
            name="phone" id="input_phone"
            class="contact__input"
            placeholder="Телефон*"
            autocomplete="off">
            <span class="pform__button"
            id="#pform_button">
            Отправить заявку
            </span>
        </div>
    </div>

    <div class="pform__wrap__close">
        <i class="gg-close"></i>
    </div>
</div>

<div class="pform__wrap__wrapper">

</div>

